<p id="notice"><%= notice %></p>

<h1>Constructionplans</h1>


<ul>

    <% @construction_plans.each do |constructionplan| %>

        <li><span style="font-size:20px;">  <%= link_to constructionplan.header, constructionplan %></span>

      
      <%= link_to 'Edit', edit_constructionplan_path(constructionplan) %>
        <%= link_to 'Destroy', constructionplan, method: :delete, data: { confirm: 'Are you sure?' } %></li>

    <% end %>
</ul>


<%= link_to 'New Constructionplan', new_constructionplan_path %>
