<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lora|Merriweather|Signika" rel="stylesheet">
    <title>Jonathan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
     <h1>Möwe Jonathan-Die Segelyacht meines Opas</h1>
   </div>
   <nav>
      <%= link_to "Home", root_path%>
      <%= link_to "Allgemeines", pages_general_path%>
      <%= link_to "'Lebenslauf'", pages_general2_path%>
      <%= link_to "Reiseorte", pages_destinations_path%>
      <%= link_to "Bau", constructionplans_path%>
    <%= yield %>
    <footer>
          <div class="container">
            Kontakt
          </div>
        </footer>
        <%= form_for(@contact) do |f| %>
<label for="Betreff:">Betreff</label>
<%= f.text_field :header %>
<label for="Nachricht:">Nachricht</label>
<%= f.text_area :body %>
<label for="Meine Email-Adresse:">Meine Email-Adresse:</label>
<%= f.text_field :email %>
<!-- <label for="benachrichtigung">Ich möchte eine Benachrichtigung erhalten, wenn es Neues zur Jonathan gibt!</label>
<input type="checkbox" id="benachrichtigung">
<input type="submit" value="Senden">-->
  <%= f.submit "Senden" %>
 <%end%>
  </body>
</html>
